<!DOCTYPE html>
<html>
  <head>
    <title>#{get 'title' /}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
    <link type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" >
  </head>
  <body class="container">

    <section class="content box">
      #{doLayout /}
    </section>
    <footer class="footer box">
      <div class="content has-text-centered">
        <p>
          Copyright ToDo List Demo 2023
        </p>
      </div>
    </footer>
  </body>
</html>